body {
	min-width: 500px;
}

.crx_mouse_visited {
	background-color: #bcd5eb !important;
	outline: 1px solid #5166bb !important;
}

.selection_bubble {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
	width: 200px;
	height: 130px;
}
